alabaster
appdirs
argh
attrs
autodoc
autopep8
Babel
beautifulsoup4
certifi
cfgv
chardet
commonmark
cycler
decorator
distlib
docutils
filelock
identify
idna
imagesize
importlib-metadata
importlib-resources
imutils
Jinja2
joblib
kiwisolver
livereload
MarkupSafe
matplotlib
mock
more-itertools
numpy
opencv-python
packaging
pathtools
pluggy
port-for
pre-commit
py
pycodestyle
Pygments
pyparsing
pytest
pytest-datafiles
python-dateutil
pytz
PyYAML
recommonmark
requests
rinoh-typeface-dejavuserif
rinoh-typeface-texgyrecursor
rinoh-typeface-texgyreheros
rinoh-typeface-texgyrepagella
rinohtype
rstcheck
scikit-learn
scipy
six
snowballstemmer
soupsieve
Sphinx
sphinx-autobuild
sphinx-autodoc-typehints
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toml
tornado
urllib3
virtualenv
waitress
watchdog
wcwidth
webcolors
WebOb
WebTest
zipp
black
flake8
isort